@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
body { color: #112d39; font-family: 'Comfortaa', cursive;
    background-image: url("/plugins/servlet/servlet-inf/site/images/forest4k.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 50px;
}

.aui-header-logo a {
    color: #112d39;
}

.aui-header a:hover, .aui-header a:focus {
    background-color: #112d39;
    color: #bfc3cc;
}

#footer-logo {
    background: none;
    position: relative;
    bottom: -21px;
}

#author {
    color: #bfc3cc;
    position: fixed;
    bottom: 0;
    font-size: 12px;
}

#createCaption {
    font-size: 1.5em;
}

.aui-header {
    background: none;
    color: #112d39;
    border-bottom-color: #2e3d54;
}

/************************************************/


.list {
    margin: 50px 170px;
}

.link {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: rgba(17, 45, 57, 0.8);
    color: #bfc3cc;
    transition: 0.2s linear;
    padding: 10px 40px;

}

.link:hover {
    background-color: rgba(191, 195, 204, 0.4);
    color: #112d39;
}


/************************************************/

.select {
    color: #112d39;
    background-color: rgba(191,195,204, 0.4);
    border: none;
    font-family: 'Comfortaa', cursive;
    border-radius: 5px;
    text-align: center;

}

.selectEmail {
    color: #bfc3cc;
    background-color: #112d39;
    border: none;
    font-family: 'Comfortaa', cursive;
    border-radius: 5px;
    text-align: center;
    width: 38%;
}


.button {
    background-color: rgba(191,195,204, 0.6);
    border-width: 1px;
    border-color: #bfc3cc;
    font-family: 'Comfortaa', cursive;
    transition: 0.2s linear;
    color: #112d39;
    outline: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #112d39;
    color: #bfc3cc;
}

.buttonSearch {
    background-color: rgba(191,195,204, 0.4);
    color: #112d39;
    outline: none;
    border-radius: 5px;
    border-width: 1px;
    border-color: #bfc3cc;
    font-family: 'Comfortaa', cursive;
    transition: 0.2s linear;
}

.buttonSearch:hover {
    background-color: #112d39;
    color: #bfc3cc;
}

#topForm {
    margin-left: 20%;
    margin-right: 20%;
}

#charts {
    margin: auto;
}

#findReq {
    width: 100%;
    margin: 0;
    padding: 0;
}

.inputString, .inputText {
    border: none;
    text-align-last: center;
    text-align: center;
    background-color: #112d39;
    color: #bfc3cc;
    outline: none;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    padding: 0;
}

.inputHistory {
    border: none;
    text-align: center;
    background-color: #112d39;
    color: #bfc3cc;
    outline: none;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    padding: 0;
    margin: 5px 0;
}

#email {
    border: none;
    text-align: center;
    background-color: #112d39;
    color: #bfc3cc;
    outline: none;
    width: 60%;
    cursor: pointer;
    border-radius: 5px;
    padding: 0;
}


.inputString::-webkit-input-placeholder {
    color: #bfc3cc;
}
.inputString::-moz-placeholder {
    color: #bfc3cc;
}

#email::-webkit-input-placeholder {
    color: #bfc3cc;
}
#email::-moz-placeholder {
    color: #bfc3cc;
}

.rowTh {
    background-color: rgba(191,195,204, 0.5);
}

.row:nth-child(even) {
    background-color: #112d39;
    color: #bfc3cc;
}

.row:nth-child(odd) {
    background-color: rgba(191,195,204, 0.5);
}

.row {
    transition: 0.4s linear;
    height: 80px;
}

.row:hover {
    background-color: rgba(175,2,0, 0.5);
}


.tableMain {
    text-align: center;
    width: 100%;
    /*border: none;*/
    /*border-spacing: 0;*/
    border-collapse: collapse; /* вот тут менять для пробелов между ячейками таблицы! */
    padding: 0;
}


.createTable {
    color: #bfc3cc;
    position: relative;
    width: 100%;
}

.right {
    width: 40%;
    margin: 0 30%;
}

.center {
    position: relative;
    text-align: center;
    margin-left: 170px;
    margin-right: 170px
}

/*************************************************************/

.allContent {
    margin-left: 170px;
    margin-right: 170px
}


/*************************************************************/

.dropbtn {
    background-color: rgba(191,195,204, 0.4);
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
    min-width: 160px;
    transition: 0.2s linear;
    color: #112d39;
}

.dropdown {
    position: fixed;
    display: inline-block;
    float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: none;*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #112d39;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.2s linear;
}

.dropdown-content a:hover {
    background-color: #112d39;
    color: #bfc3cc;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #112d39;
    color: #bfc3cc;
}
